@view-transition {
  navigation: auto;
}

* {
  margin-block: 0;
}

body {
  font-family: var(--font-family01);
  padding: 0;
  margin: 0;
}

:root {
  /* typography */
  --font-family01: "Roboto", Arial, Helvetica, sans-serif;

  /* blacks*/
  --warm-gray: hsla(0, 0%, 98%, 1);
  --black: hsla(264, 8%, 12%, 1);
  --black-100: hsla(0, 0%, 98%, 1);
  --black-200: hsla(0, 0%, 91%, 1);
  --black-300: hsla(0, 0%, 61%, 1);
  --black-400: hsla(0, 0%, 63%, 1);
  --black-500: hsla(0, 0%, 47%, 1);

  /* pink */
  --color01-dark: hsla(328, 86%, 30%, 1);
  --color01-border: hsla(328, 26%, 90%, 1);
  --color01-light: hsla(328, 36%, 95%, 1);

  /* goldish */
  --color02-dark: hsla(48, 86%, 30%, 1);
  --color02-border: hsla(48, 25%, 90%, 1);
  --color02-light: hsla(48, 30%, 95%, 1);

  /* purple */
  --color03-dark: hsla(265, 86%, 30%, 1);
  --color03-border: hsla(265, 25%, 90%, 1);
  --color03-light: hsla(265, 30%, 95%, 1);

  /* brown */
  --color04-dark: hsla(28, 86%, 30%, 1);
  --color04-border: hsla(27, 25%, 90%, 1);
  --color04-light: hsla(27, 30%, 95%, 1);

  /* green */
  --color05-dark: hsla(118, 86%, 30%, 1);
  --color05-border: hsla(118, 25%, 90%, 1);
  --color05-light: hsla(118, 30%, 95%, 1);

  /* navy blue */
  --color06-dark: hsla(220, 86%, 30%, 1);
  --color06-border: hsla(220, 26%, 90%, 1);
  --color06-light: hsla(220, 36%, 95%, 1);

  /* aqua */
  --color07-dark: hsla(168, 86%, 30%, 1);
  --color07-border: hsla(168, 26%, 90%, 1);
  --color07-light: hsla(168, 36%, 95%, 1);

  /*red */
  --color08-dark: hsla(0, 86%, 30%, 1);
  --color08-border: hsla(0, 25%, 90%, 1);
  --color08-light: hsla(0, 30%, 95%, 1);

  /* Cobalt */
  --color09-dark: hsla(194, 86%, 30%, 1);
  --color09-border: hsla(194, 25%, 90%, 1);
  --color09-light: hsla(194, 30%, 95%, 1);

  /** negative Red ***/
  --color10-light: hsla(0, 76%, 90%, 1);
  --color10-dark: hsl(0, 67%, 24%, 1);
  --color10-border: hsla(0, 25%, 90%, 1);

  /*** positive green **/
  --color11-light: hsla(118, 76%, 90%, 1);
  --color11-dark: hsla(118, 76%, 30%, 1);
  --color11-border: hsla(118, 25%, 90%, 1);

  --shadow-color: 0deg 0% 0%;

  --shadow-elevation-medium: 0px 13px 0.9px hsl(var(--shadow-color) / 0.01),
    -0.1px 5.1px 3.9px -0.6px hsl(var(--shadow-color) / 0.04),
    -0.2px 7.2px 9px -1.1px hsl(var(--shadow-color) / 0.03),
    -0.4px 16.6px 20.7px -1.7px hsl(var(--shadow-color) / 0.02);
}

/***** layout ***/

.main-container {
  display: grid;
  grid-template-columns: 397px 1fr;
  height: 100dvh;
  background: rgb(255, 255, 255);
  font-family: var(--font-family01);
  & a {
    text-decoration: none;
  }
  & a:visited {
    color: inherit;
  }
}

.main-container > sidebar {
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  min-height: 100vh;
  background: var(--black-200);
}

.main-container > main {
  display: grid;
  grid-template-rows: 0.11fr 1fr;
  height: 98dvh;
  background: rgb(255, 255, 255);
}

/* tools sidebar container **/
.tools-container {
  padding: 2rem;
}

.tools-heading {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 0.75rem;
}

.tools-container > .row02 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & select {
    width: 10.375rem;
    min-height: 2.25rem;
    padding: 0.5rem;
  }
}

/* --------- tools container  END **/

/*** timeline container ****/

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-top: 2rem;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  box-shadow: 0px -9px 20px hsl(0deg 0% 0% / 9%);

  & button {
    background-color: var(--black);
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
  }

  & button:active {
    transform: scale(0.9);
    transition: all 250mscubic-bezier(0.4, 0, 0.2, 1);
  }
  & p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
  }
}

/* conversation details */
.conversation-details {
  border-bottom: 1px solid var(--black-200);
  margin-top: 1rem;
  width: calc(100% - 9rem);
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
  padding: auto 3.5rem;
}

.icon-discard-bin {
  width: 1rem;
  fill: var(--color10-dark);
}

.conversation-details .row01 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  & p {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  & .icon-need-approval {
    width: 2rem;
  }
  & .icon-preapproved {
    width: 2rem;
  }

  & .icon-discarded-bin {
    width: 2rem;
    fill: var(--color10-dark);
  }

  & .leftcol {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
}

.question-count {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
}

.row01.language .rightcol {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.conversation-details .row02 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: var(--black-300);
}

.row02 .leftcol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.conversation-details .row02 .date-time {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.conversation-details .row02 .rightcol .language-indicator {
  color: var(--black);
  font-size: 1rem;
  padding: 0.3rem;
}

/* ELEMENTS */
/** badges START */
.badge-container {
  display: flex;
  flex-direction: column;
}

.badge {
  display: inline-flex;
  min-width: 4.875rem;
  height: 1.0625rem;
  padding: 0.1rem 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}
.badge-color-default {
  color: var(--black);
  background-color: var(--black-200);
}

.badge-color01 {
  color: var(--color01-dark);
  background-color: var(--color01-light);
  border-color: var(--color01-border);
}

.badge-color02 {
  color: var(--color02-dark);
  background-color: var(--color02-light);
  border-color: var(--color02-border);
}

.badge-color03 {
  color: var(--color03-dark);
  background-color: var(--color03-light);
  border-color: var(--color03-border);
}

.badge-color04 {
  color: var(--color04-dark);
  background-color: var(--color04-light);
  border-color: var(--color04-border);
}

.badge-color05 {
  color: var(--color05-dark);
  background-color: var(--color05-light);
  border-color: var(--color05-border);
}

.badge-color06 {
  color: var(--color06-dark);
  background-color: var(--color06-light);
  border-color: var(--color06-border);
}

.badge-color07 {
  color: var(--color07-dark);
  background-color: var(--color07-light);
  border-color: var(--color07-border);
}

.badge-color08 {
  color: var(--color08-dark);
  background-color: var(--color08-light);
  border-color: var(--color08-border);
}

.badge-color09 {
  color: var(--color09-dark);
  background-color: var(--color09-light);
  border-color: var(--color09-border);
}

.badge-color-positive {
  color: var(--color11-dark);
  background-color: var(--color11-light);
  border-color: var(--color11-border);
}

.badge-color-negative {
  color: var(--color10-dark);
  background-color: var(--color10-light);
  border-color: var(--color10-border);
}

.subcategory {
  color: var(--black-500);
  background-color: white;
  border-color: var(--black-300);
}

/* --------- Badges END */

/** tags START */
.tag-container {
  margin-top: 1rem;
}

.tag-container > .row01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border-bottom: 1px solid var(--black);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

.tag-container > .row02 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  & p {
    font-weight: bold;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    display: block;
    width: 100%;
  }
}

.tag {
  display: inline-flex;
  min-width: 6rem;
  height: 1.7rem;
  padding: 0.1rem 0.7rem;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.tag.all-tag {
  min-width: 95%;
}

/* --------- tags END */

/* language indicator component START */

.language-indicator {
  display: inline-flex;
  border-radius: 0.25rem;
  border: 1px solid var(--black-200);
  max-width: 1.5rem;
  justify-content: center;
  align-content: center;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01563rem;
  padding: 0.2rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** language indicator states */

.language-indicator.missing {
  display: inline-flex;
  border-radius: 0.25rem;
  border: 1px dashed var(--black);
  max-width: 1.5rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01563rem;
  padding: 0.2rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.language-indicator.selected {
  border-radius: 0.25rem;
  border: 2px solid var(--black);
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01563rem;
  padding: 0.2rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.language-indicator.active {
  border-radius: 0.25rem;
  border: 2px solid var(--black);
  background: #fff;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01563rem;
  padding: 0.2rem;
  -webkit-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.05);
}

.language-indicator.complete {
  background-color: var(--color11-dark);
  color: white;
  border: 1px solid transparent;
}

/* --------- language indicator component END */

/** timeline-card START **/

.timeline-row01 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create-new-question-card.closed {
  height: 1rem;
  overflow: hidden;
  min-height: 1rem;
  & textarea {
    opacity: 0;
  }
  & select {
    opacity: 0;
  }
}

.create-new-question-card.closed:hover {
  transform: translateY(-0.5rem);
  background-color: var(--color09-light);
  box-shadow: var(--shadow-elevation-medium);
}

.create-new-question-card {
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: 315px;
  min-height: 315px;
  border-radius: 0.5rem;
  border: 3px dotted var(--color09-dark);
  padding: 1.25rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 0.75rem;
  background-color: var(--color09-light);

  & textarea {
    width: 94%;
    font-size: 1rem;
    opacity: 1;
    max-width: 300px;
    min-height: 80px;
    padding: 0.5rem;
    font-family: var(--font-family01);
    border: 1px solid var(--color09-dark);
    border-radius: 0.25rem;
  }

  & select {
    opacity: 1;
    font-size: 1rem;
    max-width: 300px;
    min-height: 40px;
    padding: 0.5rem;
    font-family: var(--font-family01);
  }
}

#icon-create-new {
  fill: var(--color09-dark);
  width: 1rem;
}

.icon-close-create-new.closed > svg {
  fill: var(--color09-dark);
  width: 1rem;
  width: 0.8rem;
  rotate: 135deg;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-create-new > svg {
  fill: var(--color09-dark);
  width: 1rem;
  width: 0.8rem;
  rotate: 0deg;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.create-new-question-card .row04 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  & button {
    background-color: var(--color09-dark);
    border: none;
    color: white;
    border-radius: 0.25rem;
    font-weight: 400;
  }
  & button:active {
    transform: scale(0.9);
    transition: all 250mscubic-bezier(0.4, 0, 0.2, 1);
  }
}

.create-new-question-card .row01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color09-dark);
  font-weight: 600;
  & .leftcol {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    & .icon-create-new {
      width: 1.2rem;
      display: flex;
    }
  }
  & .rightcol {
    display: flex;
    flex-direction: row;
  }
}

.timeline-card {
  display: grid;
  grid-template-rows: 23px 1fr;
  width: 19rem;
  border-radius: 0.5rem;
  border: 1px solid var(--black-200);
  background: #fff;
  padding: 1.25rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .icon-need-approval {
    width: 1.2rem;
    display: flex;
  }
  & .icon-preapproved {
    width: 1.2rem;
    display: flex;
  }
}

.icon-preapproved-check {
  fill: var(--color05-dark);
}

.timeline-card:active {
  transform: translateX(1rem);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.timeline-card.rejected {
  border-color: var(--color10-light);
  margin-bottom: 2rem;

  & p {
    color: var(--color10-dark);
  }
}

.icon-rejected-cross {
  fill: var(--color10-dark);
  stroke: var (--color10-dark);
  stroke-width: 1px;
}

/** timeline rows **/

.timeline-card .row01 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  /* nested p tag */
  & p {
    display: inline-block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
  }
}

.timeline-card .row02 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  /* nested p tag */
  & p {
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
}

.timeline-card .row03 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* nested p tag */
  & p {
    display: inline-block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: var(--black-500);
  }
}

.timeline-card .row04 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* nested p tag */
  & p {
    display: inline-block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: var(--black-400);
  }
}

/* --------- timeline-card END */

/** question card group container ***/

.question-group-scroll-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr;
  gap: 2rem;
  margin-top: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (max-width: 1700px) {
  .question-group-scroll-container {
    grid-template-columns: 1fr;
  }
}

.question-group-scroll-container .question-group-container:last-of-type {
  margin-bottom: 3rem;
}

.question-group-container {
  display: flex;
  flex-direction: column;
}

.question-strength-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: max-content;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
  align-self: flex-end;
  background-color: var(--black-100);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  & p {
    font-weight: 600;
  }
}

.question-group-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--black);
  padding: 2rem;
  border-radius: 8px 0px 8px 8px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border: 1px solid var(--black-200);
  padding: 2rem;
  border-radius: 8px;
}

.question-metadata {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: var(--black-300);
}

/*row01*/
.question-container .row01.language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*row02*/
.question-container .row02.subcategory-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
}

/*row03*/
.question-container .row03.question-answer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 150%;
  flex-wrap: wrap;
}

.question-block-container,
.answer-block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.question-title,
.answer-title {
  font-weight: 700;
}

/*row04*/
.question-container .row04.question-button-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  & button {
    display: flex;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & button:active {
    transform: scale(0.9);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.row04.question-button-actions.preapproved {
  justify-content: flex-end;
}

.edit {
  background-color: #fff;
}

.rightcol-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.icon-return-to-need-approval {
  fill: var(--black);
  width: 1rem;
}

.pre-approve {
  min-width: 10rem;
  background: var(--color11-light);
  color: var(--color11-dark);
  border: none;
  border-color: var(--color11-dark);
}

.dismiss {
  min-width: 6rem;
  background-color: #fff;
  color: var(--black);
  border-width: 1px;
  border-color: var(--color10-light);
  border-style: solid;
}

.sap-add-to-brain-button {
  margin-bottom: 0.55rem;
}

/**** Phone Media Query ***/

@media screen and (max-width: 25em) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .main-container > sidebar {
    min-height: unset;
    grid-template-columns: 100vw 100vw;
    overflow-x: scroll;
    height: 40dvh;
  }

  .main-container > main {
    grid-template-rows: 0.07fr 1fr;
  }

  .timeline-container {
    order: 1;
    justify-content: flex-start;
  }
  .tools-container {
    order: 2;
  }
  .tag {
    font-size: 0.6rem;
    min-width: 5rem;
  }
  .timeline-row01 {
    align-items: center;
  }
  .timeline-card {
    padding: 0.5rem 1rem;
  }

  .conversation-details {
    width: 100%;
    flex-direction: column;
  }
  .conversation-details::before {
    content: "::: Pull up :::";
    color: var(--black-300);
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .conversation-details .row01 {
    width: 90%;
    margin: 0 auto;
    padding: unset;
    & p {
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }
  .question-group-scroll-container {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-top: 1rem;
  }

  .question-group-main {
    padding: 0.3rem;
  }
  .question-group-container {
    max-width: 93vw;
    margin: 0 auto;
  }

  .question-container .row04.question-button-actions {
    flex-direction: column;
  }
  .question-metadata {
    flex-direction: column;
  }
  .rightcol-buttons {
    flex-direction: column;
  }

  .pagination-container {
    position: sticky;
    bottom: 0;
    background: #ffffff;
  }
}
