.badge {
  display: inline-flex;
  min-width: 4.875rem;
  height: 1.0625rem;
  padding: 0.1rem 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

.badge-color01 {
  color: var(--color01-dark);
  background-color: var(--color01-light);
  border-color: var(--color01-border);
}

.badge-color02 {
  color: var(--color02-dark);
  background-color: var(--color02-light);
  border-color: var(--color02-border);
}
.badge-color03 {
  color: var(--color03-dark);
  background-color: var(--color03-light);
  border-color: var(--color03-border);
}
.badge-color04 {
  color: var(--color04-dark);
  background-color: var(--color04-light);
  border-color: var(--color04-border);
}
.badge-color05 {
  color: var(--color05-dark);
  background-color: var(--color05-light);
  border-color: var(--color05-border);
}
.badge-color06 {
  color: var(--color06-dark);
  background-color: var(--color06-light);
  border-color: var(--color06-border);
}
.badge-color07 {
  color: var(--color07-dark);
  background-color: var(--color07-light);
  border-color: var(--color07-border);
}

.badge-color08 {
  color: var(--color08-dark);
  background-color: var(--color08-light);
  border-color: var(--color08-border);
}

.badge-color09 {
  color: var(--color09-dark);
  background-color: var(--color09-light);
  border-color: var(--color09-border);
}

.subcategory {
  color: var(--black-500);
  background-color: var(--black-200);
  border-color: var(--black-300);
}
