.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Inter;
    font-weight: var(--font-weight400);
    gap: 0.5rem;
    border-radius: var(--border-Radius400);
    cursor: pointer;
    position: relative;
    transition: all 400ms ease;
  }

.pre-approve {border-radius: 0.5rem;
    background: #D3F9D2;}
    
.reject {background: #F9D2D2;}