.tag {
  display: inline-flex;
  min-width: 6rem;
  height: 1.7rem;
  padding: 0.1rem 0.7rem;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.selected {
  opacity: 1;
}

.not-selected {
  opacity: 0.5;
}

.all-tag {
  min-width: 95%;
}

.badge-color-default {
  color: var(--black);
  background-color: var(--black-200);
}

.badge-color01 {
  color: var(--color01-dark);
  background-color: var(--color01-light);
  border-color: var(--color01-border);
}

.badge-color02 {
  color: var(--color02-dark);
  background-color: var(--color02-light);
  border-color: var(--color02-border);
}

.badge-color03 {
  color: var(--color03-dark);
  background-color: var(--color03-light);
  border-color: var(--color03-border);
}

.badge-color04 {
  color: var(--color04-dark);
  background-color: var(--color04-light);
  border-color: var(--color04-border);
}

.badge-color05 {
  color: var(--color05-dark);
  background-color: var(--color05-light);
  border-color: var(--color05-border);
}

.badge-color06 {
  color: var(--color06-dark);
  background-color: var(--color06-light);
  border-color: var(--color06-border);
}

.badge-color07 {
  color: var(--color07-dark);
  background-color: var(--color07-light);
  border-color: var(--color07-border);
}

.badge-color08 {
  color: var(--color08-dark);
  background-color: var(--color08-light);
  border-color: var(--color08-border);
}

.badge-color09 {
  color: var(--color09-dark);
  background-color: var(--color09-light);
  border-color: var(--color09-border);
}
