.question-strength-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: max-content;
  padding: 0.5rem 1.5rem;
  gap: 1rem;
  align-self: flex-end;
  background-color: var(--black-100);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  & p {
    display: flex;
    font-weight: 600;
    align-items: center;
  }
}
