.question-group-scroll-container {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 2rem;
}

.question-group-scroll-container .question-group-container:last-of-type {
    margin-bottom: 3rem;
}

@media (max-width: 1700px) {
    .question-group-scroll-container {
        grid-template-columns: 1fr;
    }
}