.question-group-main {
  background-color: var(--black-200);
  padding: 2rem;
  border-radius: 8px;
}

.question-group-container {
  padding-top: 1rem;
  max-width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.question-strength-tab {
  background-color: var(--black-200);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: max-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
  align-self: flex-end;
  & p {
    font-weight: 600;
  }
}
