main {
  background: rgb(255, 255, 255);
  height: 90dvh;
  overflow-y: scroll;
  display: grid;
  padding: 2rem 3.5rem;
  grid-template-rows: 0.11fr 1fr;
}

.question-group-scroll-container {
  overflow-y: scroll;
}
