.all-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 9rem);
    margin: 0 auto;
    padding-top: 1rem;
  }
  
  .select-all-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px dashed var(--color11-dark);
  }
  
  .select-all-box.delete {
    border-color: var(--color10-dark);
  }
  
  .select-all-box p {
    font-size: 1.2rem;
  }
  
  .bulk-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .bulk-button:active {
    transform: scale(0.9);
  }
  
  .bulk-button.approve {
    background-color: var(--color11-light);
    color: var(--color11-dark);
    border: none;
  }
  
  .bulk-button.delete {
    background-color: #fff;
    color: var(--black);
    border: 1px solid var(--color10-light);
  }
  
  /* Custom checkbox */
  .checkbox {
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid var(--black);
    border-radius: 0.25rem;
    cursor: pointer;
    appearance: none;
    position: relative;
  }
  
  .checkbox:checked {
    background-color: var(--color11-light);
    border-color: var(--color11-dark);
  }
  
  .checkbox.delete:checked {
    background-color: var(--color10-light);
    border-color: var(--color10-dark);
  }
  
  .checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.75rem;
    color: var(--color11-dark);
    transform: translate(-50%, -50%);
  }
  
  .checkbox.delete:checked::after {
    color: var(--color10-dark);
  }