.write-all-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 9rem);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    & .pre-approve {
        display: flex;
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        border-radius: 0.5rem;
        font-weight: 600;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: var(--color11-light);
    }

    & .pre-approve:active {
        transform: scale(0.9);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.pre-approve {
    min-width: 10rem;
    background: var(--color11-light);
    color: var(--color11-dark);
    border: none;
    border-color: var(--color11-dark);
}

.select-all-to-write {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: 2px dashed var(--color11-dark);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;

    & p {
        font-size: 1.2rem;
    }
}


/* select all input checkbox ***/


#select-all-write {
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid var(--black);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    position: relative;

}



#select-all-write:checked {
    background-color: var(--color11-light);
    border-color: var(--color11-dark);
    border-radius: 0.25rem;
}

#select-all-write:checked::after {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color11-dark);
    font-size: 0.75rem;
}

/* For Firefox */
#select-all-write::-moz-check {
    color: var(--color11-dark)
}

/* For Chrome/Safari */
#select-all-write::-webkit-check {
    color: var(--color11-dark)
}

/* Initial state - button hidden */
#write-all-button {
    display: none;
}

/* When select-all checkbox is checked, button becomes visible */
#select-all-write:checked~#write-all-button {
    display: flex;
}


/**** card input check ***/

.write-card-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    & p {
        font-size: 1rem;
    }

    & .leftcol {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }

    & .rightcol {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    & .badge-color-edited {
        padding: 0.3rem 0.7rem;
        border-radius: 1rem;
        border: none;

        & p {
            font-size: 0.8rem;
        }
    }
}

.write-card-selector.rightcol>svg {
    width: 0.5rem;
}

#select-for-write {
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid var(--black);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    position: relative;
}



#select-for-write:checked {
    background-color: var(--color11-light);
    border-color: var(--color11-dark);
    border-radius: 0.25rem;
}

#select-for-write:checked::after {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color11-dark);
    font-size: 0.75rem;
}

/* For Firefox */
#select-for-write::-moz-check {
    color: var(--color11-dark)
}

/* For Chrome/Safari */
#select-for-write::-webkit-check {
    color: var(--color11-dark)
}


/** delete all section  **/
.delete-all-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 9rem);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;



    & .dismiss {
        display: flex;
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        border-radius: 0.5rem;
        font-weight: 600;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: var(--color10-light);
    }

    & .dismiss:active {
        transform: scale(0.9);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.dismiss {
    min-width: 6rem;
    background-color: #fff;
    color: var(--black);
    border-width: 1px;
    border-color: var(--color10-light);
    border-style: solid;
}

.select-all-to-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: 2px dashed var(--color10-dark);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;

    & p {
        font-size: 1.2rem;
    }
}


/* select all input checkbox ***/


#select-all-delete {
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid var(--black);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    position: relative;
}



#select-all-delete:checked {
    background-color: var(--color10-light);
    border-color: var(--color10-dark);
    border-radius: 0.25rem;
}

#select-all-delete:checked::after {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color10-dark);
    font-size: 0.75rem;
}

/* For Firefox */
#select-all-delete::-moz-check {
    color: var(--color10-dark)
}

/* For Chrome/Safari */
#select-all-delete::-webkit-check {
    color: var(--color10-dark)
}

/* Initial state - button hidden */
#delete-all-button {
    display: none;
}

/* When select-all checkbox is checked, button becomes visible */
#select-all-delete:checked~#delete-all-button {
    display: flex;
}


/**** card input check ***/

.delete-card-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    & p {
        font-size: 1rem;
    }
}


#select-for-delete {
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid var(--black);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    position: relative;
}



#select-for-delete:checked {
    background-color: var(--color10-light);
    border-color: var(--color10-dark);
    border-radius: 0.25rem;
}

#select-for-delete:checked::after {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color10-dark);
    font-size: 0.75rem;
}

/* For Firefox */
#select-for-delete::-moz-check {
    color: var(--color10-dark)
}

/* For Chrome/Safari */
#select-for-delete::-webkit-check {
    color: var(--color10-dark)
}