* {
  margin-block: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family01);
}

:root {
  /* typography */
  --font-family01: "Roboto", Arial, Helvetica, sans-serif;

  /* white*/
  --white: rgb(255, 255, 255);

  /* blacks*/
  --warm-gray: hsla(0, 0%, 98%, 1);
  --black: hsla(264, 8%, 12%, 1);
  --black-100: hsla(0, 0%, 98%, 1);
  --black-200: hsla(0, 0%, 91%, 1);
  --black-300: hsla(0, 0%, 61%, 1);
  --black-400: hsla(0, 0%, 63%, 1);
  --black-500: hsla(0, 0%, 47%, 1);

  /* pink */
  --color01-dark: hsla(328, 86%, 30%, 1);
  --color01-border: hsla(328, 26%, 90%, 1);
  --color01-light: hsla(328, 36%, 95%, 1);

  /* goldish */
  --color02-dark: hsla(48, 86%, 30%, 1);
  --color02-border: hsla(48, 25%, 90%, 1);
  --color02-light: hsla(48, 30%, 95%, 1);

  /* purple */
  --color03-dark: hsla(265, 86%, 30%, 1);
  --color03-border: hsla(265, 25%, 90%, 1);
  --color03-light: hsla(265, 30%, 95%, 1);

  /* brown */
  --color04-dark: hsla(28, 86%, 30%, 1);
  --color04-border: hsla(27, 25%, 90%, 1);
  --color04-light: hsla(27, 30%, 95%, 1);

  /* green */
  --color05-dark: hsla(118, 86%, 30%, 1);
  --color05-border: hsla(118, 25%, 90%, 1);
  --color05-light: hsla(118, 30%, 95%, 1);

  /* navy blue */
  --color06-dark: hsla(220, 86%, 30%, 1);
  --color06-border: hsla(220, 26%, 90%, 1);
  --color06-light: hsla(220, 36%, 95%, 1);

  /* aqua */
  --color07-dark: hsla(168, 86%, 30%, 1);
  --color07-border: hsla(168, 26%, 90%, 1);
  --color07-light: hsla(168, 36%, 95%, 1);

  /*red */
  --color08-dark: hsla(0, 86%, 30%, 1);
  --color08-border: hsla(0, 25%, 90%, 1);
  --color08-light: hsla(0, 30%, 95%, 1);

  /* Cobalt */
  --color09-dark: hsla(194, 86%, 30%, 1);
  --color09-border: hsla(194, 25%, 90%, 1);
  --color09-light: hsla(194, 30%, 95%, 1);

  /** negative Red ***/
  --color10-light: hsla(0, 76%, 90%, 1);
  --color10-dark: hsl(0, 67%, 24%, 1);
  --color10-border: hsla(0, 25%, 90%, 1);

  /*** positive green **/
  --color11-light: hsla(118, 76%, 90%, 1);
  --color11-dark: hsla(118, 76%, 30%, 1);
  --color11-border: hsla(118, 25%, 90%, 1);

  --shadow-color: 0deg 0% 0%;

  --shadow-elevation-medium: 0px 13px 0.9px hsl(var(--shadow-color) / 0.01),
    -0.1px 5.1px 3.9px -0.6px hsl(var(--shadow-color) / 0.04),
    -0.2px 7.2px 9px -1.1px hsl(var(--shadow-color) / 0.03),
    -0.4px 16.6px 20.7px -1.7px hsl(var(--shadow-color) / 0.02);
}
