.qa {
    flex: 1;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
