.sidebar {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--black-200);
  padding: 2rem 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 1.5rem;
}

.logout {
  display: flex;
  margin-top: -2rem;
  margin-bottom: 3rem;
  color: var(--color20-dark);
  border-radius: 0.5rem;
  border: 2px solid var(--color20-dark);
  cursor: pointer;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  justify-self: flex-start;
  padding: 1rem;
}

.logout:hover {
  background-color: var(--color20-dark);
  color: var(--white);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
  flex-grow: 1;
}

.list-container > :last-child {
  margin-top: auto;
  margin-bottom: 4rem;
}

.timeline-card {
  display: grid;
  grid-template-rows: 23px 1fr;
  border-radius: 0.5rem;
  border: 1px solid var(--black-200);
  background: #fff;
  padding: 1.25rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-container:has(:active, :focus-within, :hover)
  .timeline-card:not(:active, :focus, :hover) {
  opacity: 0.3;
  transform: scale(0.95);
  filter: brightness(0.9);
  box-shadow: inset 0px 8px 11px 1px hsl(0deg 0% 0% / 28%), 0px 3px 0px #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--warm-gray);
}
