.container {
    background:  #F4F4F4;    
    border: 1px solid #F4F4F4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: space-between;
}

.info {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.actions {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
    flex-direction: column;
}

 .button {
    border: none;
    color: #000;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
}

 .button.expand {
    color: white;
    background-color: #298BFA;
}

 .button.edit {
    color: white;
    background-color: #FFAE00;
}

 .button.apply {
    color: white;
    background-color: #9798F9;
}

.codeBlock {
    white-space: pre-wrap;
    background-color: #F5F5F5;
    padding: 16px;
    border-radius: 4px;
    font-family: ‘Source Code Pro’, monospace;
    overflow-x: auto;
}

.input {
    display: flex;
    margin: 0 auto;
    width: 98%;
    min-height: 65dvh;
}