.question-answer-main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--black-200);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.question-answer-container-view {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: start;
  max-width: 100%;
}

.question-answer-sub-con {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
}

.remove-padding {
  gap: unset;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  gap: 16px;
}